<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let post of blogPosts" class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Blog-post of Company Inc.</h4>
                    <p class="card-category">Created at 11-11-2020</p>
                </div>
                <div class="card-body">
                    <div id="typography">
                        <div class="card-title">
                        </div>
                        <div class="row">
                            <div class="tim-typo">
                                <h1>{{ post.title }}</h1>
                            </div>
                            <div class="tim-typo">
                                <blockquote class="blockquote">
                                    <p>
                                        {{ post.body }}
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>