<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Blog-post of Company Inc.</h4>
                        <p class="card-category">Created at 11-11-2020</p>
                    </div>
                    <div class="card-body">
                        <div id="typography">
                            <div class="card-title">
                            </div>
                            <div class="row">
                                <div class="tim-typo">
                                    <h1>The Life of Material Dashboard </h1>
                                </div>
                                <div class="tim-typo">
                                    <blockquote class="blockquote">
                                        <p>
                                            I will be the leader of a company that ends up being worth billions of
                                            dollars, because I got the answers. I understand culture. I am the nucleus.
                                            I think that’s a responsibility that I have, to push possibilities, to show
                                            people, this is the level that things could be at.
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/sales.png" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Sales Inc.</h6>
                        <h4 class="card-title">We Sell Stuff!!!</h4>
                        <p class="card-description">
                            Don't be scared of selling things, because proffic is deffinetly something we like! Imagine your favourite superhero, now imagine he has a lot of money! Well you can almost be like him if you sell stuff!
                        </p>
                        <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>