<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Blog-post of Company Inc.</h4>
                        <p class="card-category">Created at 11-11-2020</p>
                    </div>
                    <div class="card-body">
                        <div id="typography">
                            <div class="card-title">
                            </div>
                            <div class="row">
                                <div class="tim-typo">
                                    <h1> {{ mainPagePost.title }}</h1>
                                </div>
                                <div class="tim-typo">
                                    <blockquote class="blockquote">
                                        <p>
                                            {{ mainPagePost.body }}
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/sales.png" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">{{ generalInfo.companyName }}</h6>
                        <h4 class="card-title">{{ generalInfo.mottoTitle }}</h4>
                        <p class="card-description">
                            {{ generalInfo.mottoBody }}
                        </p>
                        <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>